
.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    background-color:#675bf1;
    & > a {
        input[type=button] {
            padding: 10px 6px;
            color: #fff;
            border: none;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            font-size: 19px;
            background-color: #675bf1;
            border: 2px solid #fff;
        }
        input[type=button]:hover{
            cursor: pointer;
            opacity: 0.85; 
        }
    } 
}

