.card-item {
    width: 230px;
    height: 210px;
    p {
        font-weight: bold;
        span {
            font-weight: 450;
            margin-left: 5px;
        }
    }
    div {
        text-align: center;
        margin-top: 40px;
        select {
            padding: 8px 10px ;
            background-color: #675bf1;
            color: #fff;
            text-align: center;
            border-radius: 8px;
            font-weight: bold;
            outline: none;
        }
    }
}