.sidebar {
    // display: flex;
    // flex-direction: column;
    background-color: #f88f14;  
    height: 100vh;
    li {
        list-style: none;
        border-bottom: 2px solid #fff;
        input {
            padding: 10px 0;
            width: 220px;
            color: #fff;
            border: none;
            font-size: 19px;
            background-color: #f88f14;  
        }
        input:hover {
            cursor: pointer;
            opacity: 0.85;
        }
    }
}